html, body {
	min-width: 0;
}

/* BEGIN RESPONSIVE NAV STYLING */
#mainNav {
	width: 100%;
	position: fixed;
	background-color: white;
	margin: 0;
	padding: 20px;
}

#navLinks {
	display: inline-block;
	float: right;
}

.navLink {
	padding-top: 3px; 
	margin: 0 0 0 15px;
	font-size: 14px;
}

.navLink a {
	color: #2998F2;
}

.navLink a:hover {
	color: #ccc;
	text-decoration: none;
}

#logo {
	display: inline-block;
	float: left;
	height: 22px;
}
/* END RESPONSIVE NAV STYLING */

#edit_maincontainer {
	background: #2998F2;
	text-align: left;
}

#edit_contentholder {
	padding: 90px 30px 30px 30px;
	height: 100%;
}

.editH2 {
	font-size: 25px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 15px;
	color: white;
	letter-spacing: 1px;
}

.editH4 {
	font-size: 16px;
	font-weight: 500;
	text-transform: none;
	margin-bottom: 15px;
	color: white;
	letter-spacing: 1px;
}

#plusMinus {
	color: white;
	display: inline-block;
}

.editButton {
	padding: 10px;
}

.editButton {
	border: 2px solid white;
	border-radius: 8px;
	background: rgba(255,255,255,0);
	cursor: pointer;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 500;
	color:white;
	padding:10px 10px 9px 10px;
}

.editButton:hover {
	background: rgba(0,0,0,.2);

}

.editLink a {
	color: white;
}



